<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit()" #form="ngForm">
      
      <div class="row">
        <div class="col-sm-5">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" autocomplete="off"
            name="name" 
            ngModel
            #inpName="ngModel"
            #nameEle
            required
          >
          <small class="err" *ngIf="inpName.invalid && form.submitted">
            Please enter ingredient name
          </small>
        </div>
        <div class="col-sm-2">
          <label for="amount">Amount</label>
          <input type="number" id="amount" class="form-control" name="amount"
            [ngModel]="1"
            #inpAmount="ngModel"
            pattern="^[1-9][0-9]*$"
          >
          <!-- attribute type="number" converts the value to number before the "pattern" takes effect -->
          <small class="err" *ngIf="inpAmount.invalid && !inpAmount.pristine">
            Invalid
          </small>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success">{{editMode ? 'Update' : 'Add'}}</button>
          <button class="btn btn-danger" type="button" 
            (click)="onDelete()"
            *ngIf="editMode"
          >
            Delete
          </button>
          <button class="btn btn-primary" type="button" 
            (click)="onClear()"
          >
            {{editMode ? 'Cancel' : 'Clear'}}
          </button>
        </div>
      </div>

    </form>
  </div>
</div>